- name: install python3 packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: installed
  loop:
  - python3 
  - gcc 
  - python3-devel
  - python3-boto3
  - python3-botocore

- name: Install amazon.aws collection
  ansible.builtin.command: >
    ansible-galaxy collection install amazon.aws
  args:
    creates: /root/.ansible/collections/ansible_collections/amazon/aws
    
- name: install dependencies
  ansible.builtin.pip:
    requirements: requirements.txt
    executable: pip3.9
  args:
    chdir: /app 