- name: Install required system packages
  ansible.builtin.dnf:
    name:
      - python3
      - gcc
      - python3-devel
      - python3-boto3
      - python3-botocore
    state: present

- name: Install Python dependencies
  ansible.builtin.pip:
    requirements: /app/requirements.txt
    executable: pip3
